<ion-content>
  <ion-grid class="favorites-container">
    <ion-row>
      <ion-col size="12">
        <h2>Mis videojuegos favoritos</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="favorites.length === 0">
      <ion-col size="12" style="text-align:center;">
        <p>No tienes videojuegos guardados en favoritos.</p>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let game of favorites">
      <ion-col size="12">
        <ion-card (click)="goToVideogameDetail(game.id)" style="cursor:pointer;">
          <ion-card-header>
            <ion-avatar slot="start">
              <img [src]="game.imageprofile" [alt]="game.title" />
            </ion-avatar>
            <ion-card-title>{{ game.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ game.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
