<ion-content>
  <ion-grid class="comments-container">
    <ion-row>
      <ion-col size="12">
        <h2>comentarios de las personas que sigues</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of groupedComments">
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="carousel-title">
            <ion-avatar>
              <a [routerLink]="['/user']" [queryParams]="{ id: user.id }">
                <img [src]="user.profileicon" [alt]="user.username" class="profileuser-image">
              </a>
            </ion-avatar>
            <a [routerLink]="['/user']" [queryParams]="{ id: user.id }">
              <ion-card-title>{{ user.username }}</ion-card-title>
            </a>
          </ion-card-header>
          <ion-card-content>
            <div class="carousel-container">
              <div class="carousel">
                <div class="carousel-track" [attr.data-username]="user.username">
                  <div class="carousel-slide" *ngFor="let comment of user.comments">
                    <div class="comment-columns">
                      <div class="comment-text-stars">
                        <p class="comment-content">{{ comment.content }}</p>
                        <app-stars [rating]="comment.rating"></app-stars>
                        <p class="comment-date">{{ comment.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
                      </div>
                      <div class="comment-image">
                        <a [routerLink]="['/videogame']" [queryParams]="{ id: comment.videogame?.id }">
                          <img [src]="comment.videogame?.imageprofile" [alt]="comment.videogame?.title" class="carousel-image">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-buttons">
                <ion-button fill="clear" class="carousel-button prev-button" (click)="moveCarousel(user.username, 'prev')"><</ion-button>
                <ion-button fill="clear" class="carousel-button next-button" (click)="moveCarousel(user.username, 'next')">></ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
