<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="header-mobile-row" align-items-center>
        <ion-col size="auto">
          <ion-button fill="clear" class="menu-button" size="large" shape="round" aria-label="Menú" (click)="showMenu = !showMenu">
            ☰
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-searchbar placeholder="Buscar"></ion-searchbar>
        </ion-col>
        <ion-col size="auto" class="profile-col">
          <ng-container *ngIf="isLoggedIn; else defaultProfile">
            <a [routerLink]="['/user']" [queryParams]="{ id: userId }">
              <img class="profile-img" [src]="userProfileIcon" alt="Perfil">
            </a>
          </ng-container>
          <ng-template #defaultProfile>
            <a routerLink="/login">
              <img src="/assets/images/usericondefault.png" alt="Perfil" class="profile-img" />
            </a>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showMenu" class="mobile-menu-row">
        <ion-col size="12">
          <nav class="mobile-nav-links">
            <a routerLink="/" (click)="showMenu = false">Inicio</a>
            <a routerLink="/categories" (click)="showMenu = false">Explorar</a>
            <a *ngIf="isLoggedIn; else redirectToLogin" routerLink="/following" (click)="showMenu = false">Favoritos</a>
            <ng-template #redirectToLogin>
              <a routerLink="/login" (click)="showMenu = false">Favoritos</a>
            </ng-template>
            <ng-container *ngIf="isLoggedIn; else guestButtons">
              <a [routerLink]="['/user']" [queryParams]="{ id: userId }" (click)="showMenu = false">
                Mi Perfil
              </a>
            </ng-container>
            <ng-template #guestButtons>
              <a routerLink="/registration" (click)="showMenu = false">Registrarse</a>
              <a routerLink="/login" (click)="showMenu = false">Iniciar sesión</a>
            </ng-template>
          </nav>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
