/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Sobrescribe el color danger de Ionic */
.ion-color-danger,
.ion-color-danger > .button-native,
.ion-color-danger[ion-button] {
  --ion-color-base: #f44336 !important; /* o el color que prefieras */
  --ion-color-contrast: #fff !important;
  --ion-color-shade: #d32f2f !important;
  --ion-color-tint: #ff6659 !important;
  background: var(--ion-color-base) !important;
  color: var(--ion-color-contrast) !important;
  border: none !important;
}
