<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-profile [type]="'videogame'"></app-profile>
        <app-stars [rating]="averageRating"></app-stars>
        <ion-button expand="block" (click)="toggleFavorite()" color="warning" style="margin-top:10px;">
          {{ isFavorite ? 'Quitar de favoritos' : 'Guardar como favorito' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="navigateToAddComment()" class="add-comment-button">
          {{ hasComment ? 'Modificar valoración' : 'Añadir valoración' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-commentaries [type]="'videogame'"></app-commentaries>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
